# Python Crash Course

This notebook will just go through the basic topics in order:

* Data Types
    * Primitive Data Types
        * None - None
        * Integer Numbers - int
        * Floating Point Numbers - float
        * Strings - str
        * Booleans - bool
        * (Type Conversion)
        * (Variable Assignment)
        * (Printing)
    * Collection Data Types 
        * Lists - list
        * Sets - set
        * Tuples - tuple
            * Tuple Unpacking
        * Dictionaries - dict
* Operators
    * Arithmetic operators
    * Assignment operators
    * Comparison operators
    * Logical operators
    * Membership Operator
* Statements
    * Sequential Statements
        * Printing
    * Conditional Statements
        * if, elif, else
    * Loop Commands
        * for Loops
            * (list comprehension)
        * while Loops
* Functions; Lambda Expressions
    * functions
        * range()        
    * lambda expressions
    * map() and filter()
* Class; Object; Methods

## Data types

## Primitive Data Types

### None

- **None** represent absence of a value

In [1]:
type(None)

NoneType

In [2]:
none1_var = None
print(none1_var)

None

### Integer Numbers 

- Type **int**
- Can be both postive and negative
- Should **ALWAYS** be Whole Numbers i.e. without fractions

In [3]:
type(1)

int

In [4]:
1 + 1

2

In [5]:
1 * 3

3

In [6]:
1 / 2

0.5

In [7]:
2 ** 4

16

In [8]:
4 % 2

0

In [9]:
5 % 2

1

#### Order of Operation

Ref: https://docs.python.org/3/reference/expressions.html#operator-precedence

In [10]:
2 + 3 * 5 + 5

22

In [11]:
2 + (3 * 5) + 5

22

In [12]:
(2 + 3) * (5 + 5)

50

### Floating Point Numbers

- Type **float**
- Represent Numbers with fractions

In [13]:
type(1.0)

float

In [14]:
1.0 * 3.0

3.0

### Strings

- Immutable sequence of characters

In [15]:
# 'COMMENTED STRING'

In [16]:
'single quotes'

'single quotes'

In [17]:
"double quotes"

'double quotes'

In [18]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [19]:
' I love "Python"'

' I love "Python"'

In [20]:
'Hello' + ' World'

'Hello World'

### Boolean

In [21]:
True

True

In [22]:
False

False

In [23]:
type(True)

bool

In [24]:
type(False)

bool

In [25]:
trueVar = True
print(trueVar)

True

In [26]:
type(trueVar)

bool

### Type Conversion

- Implicit Type Conversion 
    - Done by Python Interpreter only.
    - Always converts to wider Data Type. 
    - Data not lost
- Explicit Type Conversion
    - Done by Programmers by explicitly writing code
    - Also called as Type Casting

Reference: https://intellipaat.com/blog/tutorial/python-tutorial/type-conversion-in-python/

In [27]:
# Implicit Type Conversion

1.0 + 1

2.0

In [28]:
# 'Hello' + 123

In [29]:
# Explicit Type Conversion (Type Casting)
'Hello' + str(123)

'Hello123'

### Variable Assignment

In [30]:
# Can not start with number or special characters
name_of_var = 2

In [31]:
name_of_var

2

In [32]:
# 123var = 2

In [33]:
# $var = 2

In [34]:
_var = 2
_var

2

In [35]:
x = 2
y = 3

In [36]:
z = x + y

In [37]:
z

5

In [38]:
type(z)

int

In [39]:
x = x+3

In [40]:
x

5

In [41]:
x += 3

In [42]:
x

8

### Printing

In [43]:
x = 'hello'

In [44]:
x

'hello'

In [45]:
y = "hello"
y

'hello'

In [46]:
print(x)

hello

In [47]:
x == print(x)

hello

False

In [48]:
x == x

True

In [49]:
print(y) == print(x)

hello
hello

True

In [50]:
num = 10
name = 'Bob'

In [51]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 10, and my name is: Bob

In [52]:
print('My number is: {one}, and my name is: {two}'.format(two=name, one=num))

My number is: 10, and my name is: Bob

## Collection Data Types 

### Lists 

- Collection of elements which is **Ordered** and **Mutable**. 
- Allows **duplicate** elements.
- Elements can be of **ANY** Data type

In [53]:
[1,2,3]

[1, 2, 3]

In [54]:
['a', 'b' ,'c']

['a', 'b', 'c']

In [55]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [56]:
my_list = ['a','b','c']

In [57]:
my_list.append('d')

In [58]:
my_list

['a', 'b', 'c', 'd']

In [59]:
my_list[0]

'a'

In [60]:
my_list[1]

'b'

In [61]:
my_list[1:]

['b', 'c', 'd']

In [62]:
my_list[:1]

['a']

In [63]:
my_list[0] = 'NEW'

In [64]:
my_list

['NEW', 'b', 'c', 'd']

In [65]:
nest = [1,2,3,[4,5,['target']]]

In [66]:
nest[3]

[4, 5, ['target']]

In [67]:
nest[3][2]

['target']

In [68]:
nest[3][2][0]

'target'

In [69]:
print(nest[3][2][0])

target

#### Strings

- Collection of characters which is **Ordered** and **Immutable**

In [70]:
s = "python"

In [71]:
s[0]

'p'

In [72]:
s[-1]

'n'

In [73]:
s = 'abcdefghijk'

In [74]:
s[0:]

'abcdefghijk'

In [75]:
s[:3]

'abc'

In [76]:
s[0:3]

'abc'

In [77]:
s[3:6]

'def'

In [78]:
s[:]

'abcdefghijk'

In [79]:
# s[0] = z

### Sets 

- Collection which is **Unordered** and **Unindexed**
- Collection of **UNIQUE** elements
- Once a set is created, you cannot change its items, but you can add new items.

In [80]:
{1,2,3}

{1, 2, 3}

In [81]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [82]:
set([1,2,3,1,2,3])

{1, 2, 3}

In [83]:
s = {1,2,3}

In [84]:
s

{1, 2, 3}

In [85]:
s.add(6)

In [86]:
s

{1, 2, 3, 6}

In [87]:
s.add(6)

In [88]:
s

{1, 2, 3, 6}

### Tuples 

- A tuple is similar to List which is **Ordered Collection** of elements.
- The key difference between List and Tuple is List is **Mutable** where as Tuple is **Immutable**

In [89]:
t = (1,2,3)

In [90]:
t[0]

1

In [91]:
# t[0] = 'NEW'

### Dictionaries

- Key-Value Pairs Mappings. 
- Unordered, Mutable
- **Keys** are **ALWAYS String**
- **Values** can be **ANY data type elements**

In [92]:
d = {'key1':'item1','key2':'item2'}

In [93]:
d

{'key1': 'item1', 'key2': 'item2'}

In [94]:
d['key1']

'item1'

In [95]:
d['key1'] = 'New Item'

In [96]:
d['key1']

'New Item'

In [97]:
d = {'key1':'item1','key2': 123}

In [98]:
d['key2']

123

In [99]:
d = {'k1': [1,2,3]}

In [100]:
d['k1']

[1, 2, 3]

In [101]:
my_list = d['k1']

In [102]:
my_list

[1, 2, 3]

In [103]:
my_list[0]

1

In [104]:
d['k1'][0]

1

In [105]:
d = {'k1': {'inner_key': [1,2,3]}}

In [106]:
d['k1']

{'inner_key': [1, 2, 3]}

In [107]:
d['k1']['inner_key']

[1, 2, 3]

In [108]:
d['k1']['inner_key'][1]

2

## Operators

### Comparison Operators

Reference: https://www.w3schools.com/python/python_operators.asp

In [109]:
1 > 2

False

In [110]:
1 < 2

True

In [111]:
1 >= 1

True

In [112]:
1 <= 4

True

In [113]:
1 == 1

True

In [114]:
'hi' == 'bye'

False

### Logical Operators

In [115]:
1 > 2 and 2 < 3

False

In [116]:
(1 > 2) and (2 < 3)

False

In [117]:
(1 > 2) or (2 < 3)

True

In [118]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [119]:
True and True

True

In [120]:
True and False

False

## Conditional Statements - if, elif, else

- Used to perform decision-making. It allows for conditional execution of a statement or group of statements based on the value of a logical condition.
- Python supports the usual Logical Conditions with Comparison Operators which yields Bool **True** or **False**

In [121]:
if 1 < 2:
    print('Yep!')

Yep!

In [122]:
if 1 < 2:
    x = 1 + 2;
    print(x)

3

In [123]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [124]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [125]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [126]:
if 1 == 2:
    print('first')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('third')
else:
    print('Last')

second

In [127]:
# Short-hand if

a = 2
b = 1

if a > b: print("a is greater than b")

a is greater than b

In [128]:
# Short-hand if-else

a = 2
b = 3

print("A") if a > b else print("B")

B

## For Loops

- A **for** loop is used for iterating over a sequence or a Collection Data Type (that is either a list (also a range), a tuple, a dictionary, a set, or a string).

In [129]:
seq = [1,2,3,4,5]

In [130]:
for item in seq:
    print(item)

1
2
3
4
5

In [131]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [132]:
for dummy in seq:
    print(dummy+dummy)

2
4
6
8
10

In [133]:
for num in seq:
    print(num)

1
2
3
4
5

## List Comprehension

- List comprehensions provide a concise way to create lists. 
- It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

In [134]:
x = [1,2,3,4]

In [135]:
out = []
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [136]:
out = [num**2 for num in x]

In [137]:
out

[1, 4, 9, 16]

In [138]:
out = []
for num in range(1,11):
    if (num % 2 == 0):
        out.append(num)
print(out)

[2, 4, 6, 8, 10]

In [139]:
[num for num in range(1,11) if (num % 2 == 0)]

[2, 4, 6, 8, 10]

In [140]:
out = []
for num in range(1,11):
    if (num % 2 == 0):
        out.append(num)
    else:
        out.append(0)
print(out)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [141]:
[num if (num % 2 == 0) else 0 for num in range(1,11) ]

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

## While Loops

- With the while loop we can execute a set of statements as long as a condition is True.

In [142]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

## Functions

In [143]:
def print_hello_world():
    print('Hello World')

In [144]:
print_hello_world

In [145]:
print_hello_world()

Hello World

In [146]:
def my_func(param1):
    """
    Docstring goes here.
    """
    print('Hurray!', param1)

In [147]:
# my_func

In [148]:
my_func('My first python function')

Hurray! My first python function

In [149]:
def my_func(name='Anonymous'):
    """
    Docstring goes here.
    This can go multiple lines.
    This function prints your name else print default name
    """
    print('Hello ' + name)

In [150]:
# Shift + Tab - to see the Docstring

my_func

#  OR

# my_func?

In [151]:
my_func('Python')

Hello Python

In [152]:
my_func()

Hello Anonymous

In [153]:
my_func(name='New Name')

Hello New Name

In [154]:
def square(x):
    return x**2

In [155]:
out = square(2)

In [156]:
print(out)

4

## range() - Range Function

- Create a sequence of numbers
- Syntax: range(start, stop [, step])

In [157]:
range(5)

range(0, 5)

In [158]:
for i in range(5):
    print(i)

0
1
2
3
4

In [159]:
list(range(5))

[0, 1, 2, 3, 4]

## Lambda Expressions

- A lambda function is a single-line anonymous function.
- A lambda function can take any number of arguments, but can only have one expression. An expression is a piece of code executed by the lambda function, which may or may not return any value.

Usage:
- Lambda functions are used when you need a function for a short period of time. This is commonly used when you want to pass a function as an argument to higher-order functions, that is, functions that take other functions as their arguments.

In [160]:
def double(num):
    return num*2

In [161]:
double(2)

4

In [162]:
def double_2(num): return num*2

In [163]:
double_2(2)

4

In [164]:
lambda num: num*2

## Functions - map() and filter() and reduce()

- These are three functions which facilitate a **functional approach** to Python programming.

**Map Function**

In [165]:
seq = [1,2,3,4,5]

In [166]:
out = []
for num in seq:
    out.append(num*2)

In [167]:
out

[2, 4, 6, 8, 10]

**Syntax:** map(func, *iterable)

In [168]:
map(double, seq)

In [169]:
list(map(double, seq))

[2, 4, 6, 8, 10]

In [170]:
list(map(lambda num: num*2, seq))

[2, 4, 6, 8, 10]

**Filter Function**

In [171]:
out = []
for num in seq:
    if num % 2 == 0:
        out.append(num)

In [172]:
out

[2, 4]

**Syntax:** filter(func, *iterable)

In [173]:
filter(lambda num: num%2 == 0, seq)

In [174]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

**Reduce Function**

In [175]:
seq = [1,2,3,4,5]

In [176]:
# Product of all elements in the List

result = 1;
for num in seq:
    result = result * num

In [177]:
result

120

**Syntax:** reduce(func, *iterable)

In [178]:
from functools import reduce

product = reduce(lambda x, y: x * y, seq)

In [179]:
product

120

In [180]:
# Python Library Reduce Function

sum(seq)

15

## Classes and Objects

- Python is an object oriented programming language.
- Classes provide a means of bundling data (to maintain the state) and functionality (methods) together. 
- A Class is like an object constructor, or a "blueprint" for creating objects.
- Instances of the Class are called Objects.

In [181]:
class Employee:
  def __init__(self, name, age, dept):
    self.name = name
    self.age = age
    self.dept = dept

  def print_name(self):
    print("Hello my name is " + self.name)
    
  def print_dept(self):
    print("Employee Department is {}".format(self.dept))

  def update_age(self, new_age):
    self.age = new_age
    print("Employee age updated to {}".format(new_age))

In [182]:
emp1 = Employee("John", 30, 'Finance')

In [183]:
emp1.print_name()

Hello my name is John

In [184]:
emp1.print_dept()

Employee Department is Finance

In [185]:
emp1.age

30

In [186]:
emp1.update_age(40)

Employee age updated to 40

In [187]:
emp1.age

40

## Methods

In [188]:
st = 'hello my name is Bob'

In [189]:
st.lower()

'hello my name is bob'

In [190]:
st.upper()

'HELLO MY NAME IS BOB'

In [191]:
st.split()

['hello', 'my', 'name', 'is', 'Bob']

In [192]:
tweet = 'Go Sports! #Sports'

In [193]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [194]:
tweet.split('#')[1]

'Sports'

In [195]:
d = {'key1': 1, 'key2': 2}

In [196]:
d.keys()

dict_keys(['key1', 'key2'])

In [197]:
d.items()

dict_items([('key1', 1), ('key2', 2)])

In [198]:
d.values()

dict_values([1, 2])

In [199]:
lst = [1,2,3]

In [200]:
lst.pop()

3

In [201]:
lst

[1, 2]

In [202]:
lst = [1,2,3,4,5]

In [203]:
item = lst.pop()

In [204]:
lst

[1, 2, 3, 4]

In [205]:
item

5

### Membership Operator

In [206]:
'x' in [1,2,3]

False

In [207]:
'x' in ['x','y','z']

True

### Tuple Unpacking

In [208]:
lst_of_tuples = [(1, 'A'), (2, 'B'), (3, 'Z')]

In [209]:
lst_of_tuples

[(1, 'A'), (2, 'B'), (3, 'Z')]

In [210]:
for (num, char) in lst_of_tuples:
    print('Num is {}, and character is {}'.format(num, char))

Num is 1, and character is A
Num is 2, and character is B
Num is 3, and character is Z

e.g. (x_train, y_train),(x_test, y_test) = tf.keras.datasets.mnist.load_data()

In [211]:
seq = [1, 2, 3, 4, 5]

In [212]:
seq

[1, 2, 3, 4, 5]

In [213]:
for (index, num) in enumerate(seq):
    print('Number at Index {index} is {num}'.format(index=index, num=num))

Number at Index 0 is 1
Number at Index 1 is 2
Number at Index 2 is 3
Number at Index 3 is 4
Number at Index 4 is 5

## Good Job!!!

## Exercises

**Exercise 1 >** 

What is 8 to the power of 3?

In [265]:
# Your code goes here

512

**Excercise 2 >** 

Given the variables:

    radiation = "light"
    speed = 186282

Use .format() to print the following string:

    The speed of light in a vacuum is 186282 miles per second

In [266]:
# Your code goes here

The speed of light in a vacuum is 186282 miles per second

**Excercise 3 >**

Given this nested list, use indexing to grab the word "hey"

In [267]:
lst = ['a', 'b', ['cc', 'dd', ['hey', 'fff']], 'g', 'h']

In [268]:
# Your code goes here

'hey'

**Excercise 4 >**

Given this nested dictionary grab the word "found"

In [269]:
d = {'k1':[1,2,3,{'inner_key':['work','from','home',{'target_key':[1,2,3,'found']}]}]}

In [270]:
# Your code goes here

'found'

**Excercise 5 >**

Create a basic function that returns True if the word 'coding' is contained in the input string. 
Don't worry about edge cases like a punctuation being attached to the word coding, but do account for capitalization.

In [271]:
def findCoding(string):
    # Your code goes here

In [272]:
findCoding('Learning coding is fun and exciting')

True

In [273]:
findCoding('I enjoy Coding!!!')

True

**Excercise 6 >**

Return the number of even ints in the given array. (Write your function body in a single line)

    count_evens([2, 1, 2, 3, 4])  3
    count_evens([2, 2, 0])  3
    count_evens([1, 3, 5])  0

In [274]:
def count_evens(nums):
  # Your code goes here

In [275]:
count_evens([2, 1, 2, 3, 4])

3

In [276]:
count_evens([2, 2, 0])

3

In [277]:
count_evens([1, 3, 5])

0

**Excercise 7 >**

You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible 
results: "No ticket", "Small ticket", or "Big Ticket".

    If your speed is 60 or less, the result is "No Ticket". 

    If speed is between 61 and 80 inclusive, the result is "Small Ticket". 

    If speed is 81 or more, the result is "Big Ticket". 

Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [254]:
def caught_speeding(speed, is_birthday):
    # Your code goes here

In [280]:
caught_speeding(81,True)

'Small Ticket'

In [281]:
caught_speeding(81,False)

'Big Ticket'

In [282]:
caught_speeding(65,True)

'No Ticket'

In [283]:
caught_speeding(65,False)

'Small Ticket'

## Well done!!